<head>
    <style type="text/css">
    .banner{
        background: #24292e;
        height: 100px;
        width: 100%;
        color: white;
        line-height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        font-family: calibri;

    }

    #Terms {
        font-family: calibri;
        color: black;
        padding: 15px;
        font-size: 120%;
    }
    </style>
</head>
<body style="min-width: 700px; min-height: 600px;">
    <div class="banner"><a href="@routes.Application.main" style="text-decoration: none;">
    <table><tr>
        <td rowspan="2"><div style="padding-top: 20px;"><img id="logo" src="@routes.Assets.versioned("images/logo.png")" style="margin-left: 100px; max-width:60px;height: auto;"  alt="BookSwap"></div></td>
        <td style="padding-top: 10px;"><div style="color: white;font-size: 45px; padding-left: 3px;">BookSwap</div></td>
        <tr><td><div style="color: white;font-size: 15px;padding-left: 23px;">Free Book Swap Platform</div></td></tr>
    </tr></table>
    </a></div>
    <div style="background-color: white; padding-bottom: 30px;">
        <div style="background-color: #dfffdf; text-align: left; color: #000; margin: auto; border:4px solid #46a3ff; width: 1000px; border-top:0; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;">
            <br>
            <h1 style="padding-top: 80px;" align=center>Privacy Statement</h1>
            <p id="Terms">
             A. We collect your information only with your consent; we only collect the minimum amount of personal information that is necessary to fulfill the purpose of your interaction with us.
            <br>
            B. If you're just browsing the website, we collect the same basic information that most websites collect. We collect this information to better understand how our website visitors use BookSwap, and to monitor and protect the security of the website.
            <br>
            C. If you create an account, we require some basic information at the time of account creation. You will create your own user name and password, and we will ask you for a valid email account.
            <br>
            D. Much of BookSwap is public-facing. If your content is public-facing, third parties may access and use it in compliance with our Terms of Service. We do not sell that content, it is yours.
            <br>
            E. BookSwap uses cookies to make interactions with our service easy and meaningful. We use cookies to keep you logged in, remember your preferences, and provide information for future development of BookSwap.
            <br>
            F. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it.
            <br>
            G. BookSwap will retain User Personal Information for as long as your account is active or as needed to provide you services.
            <br>
            H. We will use your email address to communicate with you, if you've said that's okay.
            <br>
            I. Although most changes are likely to be minor, BookSwap may change the Privacy Statement from time to time.
            </p>
        </div>
        <br><br><br>
    </div>
</body>
